@font-face {
  font-family: 'icon-convertize';
  src:  url('fonts/icon-convertize.eot?czowbj');
  src:  url('fonts/icon-convertize.eot?czowbj#iefix') format('embedded-opentype'),
    url('fonts/icon-convertize.woff2?czowbj') format('woff2'),
    url('fonts/icon-convertize.ttf?czowbj') format('truetype'),
    url('fonts/icon-convertize.woff?czowbj') format('woff'),
    url('fonts/icon-convertize.svg?czowbj#icon-convertize') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-convertize' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comment:before {
  content: "\e919";
}
.icon-comunidade:before {
  content: "\e914";
}
.icon-doc:before {
  content: "\e915";
}
.icon-problemas:before {
  content: "\e916";
}
.icon-status:before {
  content: "\e917";
}
.icon-videos:before {
  content: "\e918";
}
.icon-question:before {
  content: "\e913";
}
.icon-search:before {
  content: "\e912";
}
.icon-login:before {
  content: "\e911";
}
